 .box-body{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
  } 

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn-wrap > a {
  background-color: #fff;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 3px;
  color: rgba(0,0,0,0.7);
   box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}
#modal {
  transform: scale(0);
  position: fixed; left: 0; top: 0;
  width: 100%; height: 100%;
  z-index : 1;

}
.modal-bg {
  background-color: rgba(0,0,0,0.7);
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow : scroll;
}
.modal-cont {
  position: relative;
  background-color: #fff;
  padding: 40px;
  max-width: 600px;
  display: inline-block;
  height: auto;
  width : 600px;
 /*  margin-bottom: 100px;
  margin-top: 500px; */
}
.modal-cont h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.modal-cont p {
  font-size: 18px; line-height: 1.3;
}
.modal-cont .close {
  background:#000; 
  position: absolute; top: 10px; right: 10px;
  padding: 10px; border-radius: 50%;
}
.modal-cont .close svg {
  width: 24px; fill: #fff; vertical-align: top;
}

#modal.one {
  transform: scaley(0.005) scalex(0);
  animation-name: unfoldIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
#modal.one .modal-cont {
  transform: scale(0);
  animation-name: zoomIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

#modal.one.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s ease-in forwards;
} 
#modal.one.out .modal-cont {
  transform: scale(0);
  animation: zoomOut 0.5s ease-in forwards;
}

.card-header{
	margin-top: -36px;
    margin-bottom: 48px;
}
.card-footer{
    float: right;
    margin-top: 50px;
}

@keyframes unfoldIn {
  0%   {transform: scaley(0.005) scalex(0); }
  50%  {transform: scaley(0.005) scalex(1);}
  100% {transform: scaley(1) scalex(1);}
}
@keyframes unfoldOut {
  0%   {transform: scaley(1) scalex(1);}
  50%  {transform: scaley(0.005) scalex(1);}
  100% {transform: scaley(0.005) scalex(0);}
}
@keyframes zoomIn {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}
@keyframes zoomOut {
  0% {transform: scale(1);}
  100% {transform: scale(0);}
}

.profile-info-row:first-child .profile-info-name, .profile-info-row:first-child .profile-info-value {
    border-top: none;
}

.profile-user-info{
    display: table;
    width: calc(74% - 24px);
    margin: 0 auto;
    padding-left: 50px;
}

.profile-info-row{
    display: table-row;
}

.profile-info-name{
	text-align: right;
    padding: 6px 10px 6px 4px;
    font-weight: 400;
    color: #667E99;
    background-color: transparent;
    width: 110px;
    vertical-align: middle;
    border-top: 1px dotted #D5E4F1;
}

.profile-info-name, .profile-info-value {
    display: table-cell;
}
 .profile-info-value {
    padding: 6px 4px 6px 6px;
    border-top: 1px dotted #D5E4F1;
}
.user-panel>.image>img {
    width: 100%;
    max-width: 52px;
    height: auto;
}
.img-circle{
	width: 160px;
    height: 150px;
}

.img_modify{
	outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    text-align: center;
    transition: all .15s ease-in-out;
    background-color: gray;
}
.passwordTitle{
	color: #667E99;
}
.passwordInput{
	width: 80%;
}

.passwordDiv{
	margin-bottom: 15px;
}


